<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrSay8fukBfNaCKsbSZaWWnEFlw8G8ri4</string>
	<key>GCM_SENDER_ID</key>
	<string>1047650580488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthRiverpod</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-rivepod-ksl2024</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-rivepod-ksl2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047650580488:ios:aacbf502e7de3b9e4379bd</string>
</dict>
</plist>